* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Nunito Sans", sans-serif;
}

/*body {
	background-color: #FAF5EE;
}
*/

/* Navbar */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
/*	background-color: white;*/
	padding: 3rem;
	padding-top: 2rem;
	position: relative;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

}

.nav-logo {
	height: 1.5rem;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-nav-list {
	display: flex;
	list-style: none;
	gap: 2rem;
	align-items: center;
	color: black;
	margin: 0;
}

.main-nav-list a {
	text-decoration: none;
	color: black;
}

/* Hero Section */

/*main {
	padding-top: 106px;
}*/


.section-hero {
	/*height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;*/
}

.hero-container {
/*	height: 100vh;*/
}

.greeting {
	letter-spacing: 0.1rem;
}

.hero-title {
	font-family: "Spectral", sans-serif;
/*	text-align: center;*/
	max-width: 36rem;
	font-size: 3rem;
	color: #D4805C;
}

.left-hero {
	background-color: #FAF5EE;
/*	padding-top: 106px;*/
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.cta-button {
	text-decoration: none;
	color: black;
	border: 1px solid black;
	padding: 1rem 2rem;
	margin-top: 0.5rem;
	display: inline-block;
	border-radius: 30px;
}

.right-hero {
/*	padding-top: 106px;*/
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mica-photo {
	max-width: 30rem;
}












