/* Branding */
/*  Terracotta: #D4805C
	Green: #B2BAA3
	Cream: #FAF5EE
	Black: #282828
	Gray: #6965F
 */




* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Nunito Sans", sans-serif;
}

/*body {
	background-color: #FAF5EE;
}
*/

/* Navbar */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
/*	background-color: white;*/
	padding: 3rem;
	padding-top: 2rem;
	position: relative;
	align-items: center;
/*	position: fixed;  will enable this in the future updates :P*/
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

}

.nav-logo {
	height: 1.5rem;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-nav-list {
	display: flex;
	list-style: none;
	gap: 2rem;
	align-items: center;
	color: black;
	margin: 0;
}

.main-nav-list a {
	text-decoration: none;
	color: black;
}

.section-hero {
	/*height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;*/
}

.hero-container {
/*	height: 100vh;*/
}

.subheadline-1 {
	letter-spacing: 0.1rem;
}

.hero-title {
	font-family: "Spectral", sans-serif;
/*	text-align: center;*/
	max-width: 36rem;
	font-size: 3rem;
	color: #D4805C;
}

.left-hero {
	background-color: #FAF5EE;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.cta-button {
	text-decoration: none;
	color: black;
	border: 1px solid black;
	padding: 1rem 2rem;
	margin-top: 0.5rem;
	display: inline-block;
	border-radius: 30px;
}

.cta-button:hover {
	cursor: pointer;
	background-color: #B2BAA3;
	color: white;
	border: 1px solid #B2BAA3;
}

.right-hero {
/*	padding-top: 106px;*/
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mica-photo {
	max-width: 30rem;
}

/* About Section */

h3 {
	color: #D4805C;
	font-family: "Spectral", sans-serif;
	font-size: 2.5rem;
}

p {
	color: #282828;
	font-size: 1.25rem;
}

.about-container {
	max-width: 1024px;
	margin: 0 auto;
	padding-top: 9rem;
	padding-bottom: 4rem;
}

/* Projects Section */
.projects-section {
	background-color: #FAF5EE;

}

.projects-text {
	background-color: #FAF5EE;
/*	height: 75vh;*/
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-left: 4rem;
	padding-top: 5rem;
/*	padding-bottom: 5rem;*/
}

/*.project-images-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 1.2rem;
}*/
	

/*.project-images {
	height: 450px;
}*/



